$spacer: 4rem;

$card-spacer-x: 1.5rem;
$card-spacer-y: 1.5rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1340px
);


$h1-font-size: 1.32rem;
$h2-font-size: 2rem;
$h3-font-size: 1.51rem;

$headings-margin-bottom: 0.5rem;
